<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  

<style>
     body {
         background: url("https://thumbs.gfycat.com/CavernousWhisperedBengaltiger-size_restricted.gif")
    }
    
    h2 {
        color:white;
    }
    
    h1 {
        color:white;
    }
    
    h3 {
       color:white; 
    }
     
</style>
</head>
<body>
   <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Brandon Apples Adventures</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about-us">About us</a></li>
        <li><a href="/Adventures"> The Adventures</a></li>
        <li><a href="/hottest-games"> hottest games </a></li>
        <li><a href="/">Historical Games</a></li>
      </ul>
    </div>
</nav>
        
   <div class="container">
       <h1>About us</h1>
       <h3> Our company name is Notorious Gaming and we have created a server that lists some of the best video games of all time and some of the hottest video games out right now in 2018.</h3>
       <img src="https://thumbs.gfycat.com/HighlevelBlackAlligatorgar-size_restricted.gif?">
    </div>
</body>