<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  

<style>
     body {
         background: url("https://media.giphy.com/media/DvfKEjLRkUdDW/giphy.gif")
    }
    
    h2 {
        color:white;
    }
    
    h1 {
        color:white;
    }
     
     h3 {
        color:blue; 
     }
</style>
</head>
<body>
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Brandon Apples Adventures</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about-us">About us </a></li>
        <li><a href="/Adventures"> The Adventures</a></li>
        <li><a href="/hottest-games"> hottest games </a></li>
        <li><a href="/">Historical Games</a></li>
      </ul>
    </div>
  </nav>
        <h3>Try our Adventures challenge, if You beat The Last of us in under 24 hours you will win a new ps4 or xbox controller or if you beat the last of us and fallout 4 under 24 hours you will win a brand new PC</h3>
        
   <div class="container">
       <h1>Adventures!</h1>
       <img width="1000px"  src="https://media.giphy.com/media/109DrtpSEzhHI4/giphy.gif">
      <img width="1000px" src="https://media0.giphy.com/media/13EgsbsNCLHXJm/giphy.gif?_sm_byp=iVVVwPtNDqTRR1NQ">
      <img width="1000px"  src="https://media.giphy.com/media/Wvv7DJ9iumTyU/giphy.gif?_sm_byp=iVVVwPtNDqTRR1NQ">

      
     </div>
</body>