<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
<style>
     body {
         background: url("https://steamusercontent-a.akamaihd.net/ugc/44236409123954550/DFD0007CC013696380D4A89286978DC7FFBD5E02/?_sm_byp=iVVVwPtNDqTRR1NQ")
    }
    
    h2 {
        color:white;
    }
    
    h1 {
        color:white;
    }
    
    h3 {
       color:white; 
    }
     
</style>
</head>
<body>
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Brandon Apples Adventures</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about-us">About us</a></li>
        <li><a href="/Adventures"> The Adventures</a></li>
        <li><a href="/hottest-games"> hottest games </a></li>
        <li><a href="/">Historical Games</a></li>
      </ul>
    </div>
  </nav>
   <li><h2>GTA SAN ANDREAS</h2></li>
   <img width="1000px" src="http://www.gifimagesdownload.com/wp-content/uploads/2016/08/gta-san-andreas-gif-free.gif?_sm_byp=iVVVwPtNDqTRR1NQ"
        <li><h2>CSGO</h2></li>
        <img width="1000px" src="https://i.gifer.com/81Ik.gif?_sm_byp=iVVVwPtNDqTRR1NQ"
        <li><h2>League of Legends</h2></li>
         <img width="1000px" src="https://media.giphy.com/media/O8VvpazXByj0k/giphy.gif?_sm_byp=iVVHN4nN1fNqFWNj"
        <li><h2>Pac-Man</h2></li>
        <img width="1000px" src="https://media.giphy.com/media/d9QiBcfzg64Io/giphy.gif?_sm_byp=iVVVwPtNDqTRR1NQ"
        <li><h2>Call of Duty: Black Ops II</h2></li>
        <img width="1000px" src="https://media.giphy.com/media/11eLBzGxs3sanS/source.gif?_sm_byp=iVVVwPtNDqTRR1NQ"
        <li><h2>The Last of Us </h2></li>
         <img width="1000px" src="https://i.imgur.com/iolYZSd.gif?noredirect&_sm_byp=iVVVwPtNDqTRR1NQ"
        <li><h2>Red Dead Redemption</h2></li>
        <img width="1000px"src="https://media.giphy.com/media/kwReXgfClY5Lq/giphy.gif?_sm_byp=iVVHN4nN1fNqFWNj"
        <li><h2>Assassin's Creed</h2></li>
        <img width="1000px" src="https://media.giphy.com/media/122T7shvhAHA9W/giphy.gif?_sm_byp=iVVHN4nN1fNqFWNj"
        </ul>
       
        
  </nav>
        
   <div class="container">
       <h1>Top video games in history</h1>
       <img src="https://i.gifer.com/f1E.gif?_sm_byp=iVVHN4nN1fNqFWNj" />
   </div>
</body>