<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
<style>
     body {
         background: url("https://thumbs.gfycat.com/CavernousWhisperedBengaltiger-size_restricted.gif")
    }
    
    h2 {
        color:white;
    }
    
    h1 {
        color:white;
    }
     
</style>
</head>
<body>
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Brandon Apples Adventures</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about-us">About us</a></li>
        <li><a href="/Adventures"> The Adventures</a></li>
        <li><a href="/hottest-games"> hottest games </a></li>
        <li><a href="/">Historical Games</a></li>
      </ul>
    </div>
  </nav>
      </ul>
    </div>
  </nav>
        <h1>These are your hottest games of 2018</h1>
        <ul style="display:flex;flex-direction:column">
        <li><h2>Detroit: Become Human</h2></li>
        <img src= "http://actiward.net/wp-content/uploads/2018/05/detroit-become-human-890x606.jpg?_sm_byp=iVVVwPtNDqTRR1NQ"
        <li><h2>God of War</h2></li>
        <img src="https://d1pqlgpcx1bu0k.cloudfront.net/static/img/GOW-OG-image.jpg"
        <li><h2>Call of duty WW2</h2></li>
        <img src="http://www.supermanugames.com/wp-content/uploads/2018/02/Call-of-Duty-World-War-II-1-1.png?_sm_byp=iVVVwPtNDqTRR1NQ"
        <li><h2>Far Cry 5</h2></li>
        <img src="https://cdn.vox-cdn.com/thumbor/Kj7_i1gEFXPakdt0iBG0OAU5OqE=/0x0:7000x4054/1200x675/filters:focal(2930x1526:4050x2646)/cdn.vox-cdn.com/uploads/chorus_image/image/59163295/Far_Cry_5_Key_Art_Wide_1495770936.0.jpg?_sm_byp=iVVVwPtNDqTRR1NQ"
        <li><h2>Fortnite</h2></li>
        <img src="https://pmcvariety.files.wordpress.com/2018/04/fortnite2fbattle-pass2fseason32fbpheaderv5-2560x976-8973169cf8e25779cd61412d58590b12338f4e81.jpg?w=1000&h=563&crop=1&_sm_byp=iVVVwPtNDqTRR1NQ"
        <li><h2>Overwatch</h2></li>
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--d5eHUGWO--/c_scale,f_auto,fl_progressive,q_80,w_800/uly0tgyaldtgyoxv0xsf.jpg?_sm_byp=iVVVwPtNDqTRR1NQ"
        <li><h2>Destiny 2</h2></li>
        <img src= "https://cdn.wccftech.com/wp-content/uploads/2017/04/destiny2_art.jpg?_sm_byp=iVVHN4nN1fNqFWNj"
        <li><h2>Mario Kart 8 Deluxe</h2></li>
        <img src="https://c.slashgear.com/wp-content/uploads/2017/05/MK8D-11-980x420.jpg?_sm_byp=iVVVwPtNDqTRR1NQ"
        </ul>
       
   <div class="container">
       <img src= "https://media3.giphy.com/media/ftSumax2CT9WE/giphy.gif">
       
     
       
   </div>
</body>